:root {
    --bg-dark: rgb(68, 68, 70);
    --bg-gradient: ;
    --headtext: rgb(168, 50, 168) ;
    --cardtext: ;
    --sniptext: ;
} */

section {
    display: flex;
    flex-wrap: wrap; 
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px dashed black;
    max-width: 400px;
    max-height: 400px;
    margin: 10px;
}

.card > h2 {
    border: 5px solid black;
    width: 80%;
    color: var(--headtext);
    background-color: var(--bg-dark);
    border-radius: 25px;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding: 0px 10px 0px 10px;
    position: relative;
    margin-top: -20px;
    margin-left: 10px;;
}

/* .card:hover {} */

.card-text {
    padding: 2px;
}



