:root {
    --bg-color: rgb(52, 48, 63);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(248, 0, 145);
}

body {
    background-color: #5a5656;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: var(--bg-color);
    height: 15vh;
}

main {
    background-color: var(--bg-color);
    min-height: 70vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    background-color: var(--bg-color);
    height: 15vh;
    padding-top: 40px
}

h1 {
    padding: 15px;
}

h1, h2 {
    text-align: center;
}

p {
    margin-bottom: 10px;
}

.card {
    border: 3px dashed black;
    width: 30%;
    padding: 0 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    /* So it fades in and out or apply to just .card*/
    transition: box-shadow 1s ease;
}

.card:hover, .card:hover h3 {
    box-shadow: 5px 5px 20px 5px inset purple;
    transition: box-shadow 1s ease;
}

.card h3 {
    border: 3px solid black;
    text-align: center;
    width: 95%;
    /* Important below */
    margin: 0 auto;
    position: relative;
    top: -15px;
    background: var(--bg-color);
    border-radius: 10px;
    transition: box-shadow 1s ease;
    font-size: 30px;
}

.card pre {
    background: linear-gradient(rgb(52, 48, 63),rgb(248, 0, 145));
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 2%;
    flex-grow: 1;
    user-select: all;
    display: flex;
    align-items: center;
}

code::selection {
    background: aqua;
    color: coral;
}

code {
    color:white;
}

@media screen and (max-width:768px) {
    .card {
        width: 45%
    }
}

@media screen and (max-width:576px) {
    .card {
        width: 90%
    }
}

/* edit pre tag spacing */
/* change colors */